# Docs: https://caddyserver.com/docs/caddyfile
#0.0.0.0:80
#http://localhost
https://localhost
root /var/www/public
fastcgi / php-fpm:9000 php {
    index index.php
}

redir http://localhost https://localhost
#http://localhost {
#    redir https://localhost
#}

# To handle .html extensions with laravel change ext to
# ext / .html

rewrite {
    r .*
    ext /
    to /index.php?{query}
}
gzip
browse
log /var/log/caddy/access.log
errors /var/log/caddy/error.log
# Uncomment to enable TLS (HTTPS)
# Change the first list to listen on port 443 when enabling TLS
tls self_signed
#tls adrian.amigues@lemonlearning.fr

# To use Lets encrpt tls with a DNS provider uncomment these
# lines and change the provider as required
#tls {
#  dns cloudflare
#}

